.booksjs-preview{
    /* margin: 20px; */
    width: 840px;
    height: 594px;
    position: relative;
}
.booksjs-page-container{
    width: 420px;
    height: 594px;
    position: absolute;
    transition: all .5s ease;
    transform-style: preserve-3d;
    transform-origin: center left;
    right: 0;
}
.booksjs-page{
    width: 420px;
    height: 594px;
    position: relative;
}
.booksjs-page-turn{
    transform: rotateY(180deg);
}
#profilePictureInput, #homePictureInput{
  display: none;
}
.booksjs-page-front, .booksjs-page-back{
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.booksjs-page-back{
    transform: rotateY(180deg);
}
.booksjs-page h1{
    margin: 10px;
}